
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Ubuntu:wght@300;400;500&display=swap');

*{
    font-family: 'Jost', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
* {
    padding: 0;
    margin: 0;
   
}

header {
    background-color: #593E29;
    ;
    box-shadow: 0px 3px 10px #e7e7e7;
    width: 100%;
}

#buttonlogin {
    position: relative;
}
#icon-loginDiv {
    font-size: 15px;
    margin-bottom: 0px; 
  
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
  
    border-radius: 10px;
    color: rgb(0, 0, 0);
    transition: 0.2s;
}
#icon-loginDiv:hover {
   transition: 0.2s;
    background-color: #ca7eee;
    
}
#icon-cadastroDiv {
    margin-top: 0; 
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: #ab29e77a;
    border-radius: 10px;
    color: #fff;
    
}
#icon-cadastroDiv:hover {
    transition: 0.2s;
     background-color: #4b1564;
     
 }
#containerlogin {
    background-color: #ffffff;
    height: 120px;
    width: 130px;
    position: absolute;
    display: flex;
    right: 50%; 
    top: 100%;
    transform: translateX(50%); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px  #575656;
    justify-content: center;
     flex-direction: column; 
     text-align: left;
     transition: 0.5s;
     
     
  
    
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#menu-mobile-icon{
    color: #000000;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logoNav{
   
    width: 170px;
}

.nav-list {
   
    align-items: center;
    width: 100%;
    background-color: #946948;
    text-align: center;
   
   
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 100%;
  }
  
  .input {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    width: 100%;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    width: 800px;
    color: #0d0c22;
   
    transition: .3s ease;
  }
  
  .input::placeholder {
    color: #777;
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #777;
    width: 1rem;
    height: 1rem;
  }
  .div-nav-log{
    background-color: #946948;
     border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center; 
    width: 250px;
    
    
    
  }
  .div-nav-login{
 
    display: inline;
    border: 1px solid transparent;
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;
  }

  .div-nav-login:hover {
    border: rgba(255, 255, 255, 0.5) 1px solid;
      border-radius: 10px;
      transition: 0.2s;
  }
  .div-nav-car{
    display: inline;
    padding: 12px;
    border: 1px solid transparent;
  }
  .div-nav-car i{
  height: 50px;
  color: #fff;
  }
  .div-nav-car:hover {
    border: rgba(255, 255, 255, 0.5) 1px solid;
      border-radius: 10px;
      transition: 0.2s;
  }


  .nav-login{
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    
}
.nav-login-id{
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
    padding: 7px;
}

.nav-link {
    text-decoration: none;
  font-size: 10px;
    color: #ffffff;
    padding: 5px;
    font-size: 17px;
    transition: 0.2s;    
}

.nav-link:hover {
  
    color: #b9b9b9;
  
    transition: 0.2s;
}
.nav-list1 {
    display: flex;
    align-items: center;
}


button:hover  i.bi-person{
    color: #696969; 
    transition: color 0.2s;
}

#icon-conta:hover{
    color: #696969; 
    transition: color 0.2s;
  
}


#icon-bag:hover i.bi-bag {
    color: #696969; 
    transition: color 0.2s;
}

.login-Icons button{
    border: none;
    background-color: #fff;
    font-size: 15px;
    margin-top: 10px;
    justify-content: space-between;
    color: #a0a0a0;
    text-decoration: none;
    transition: color 0.2s;
}


.login-Icons a {
    text-decoration: none;
    color: #a0a0a0;
    margin-top: 10px;

    
    
}

#icon-login{
    font-size: 20px;
    margin-right: 10px;
   
    
}
#icon-conta{
    font-size: 15px;
    margin-right: 30px;
    color: #696969; 
}
#icon-bag{
    font-size: 20px;
   
}

.login-Icons{
 display: flex;
 align-items: center;
 margin-right: 52px;
 justify-content: space-between;
  
  
}
.login-popup {
    display: none;
    position: fixed; 
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 6%;
    right: 5%;
    width: 150px;
    text-align: center;
    z-index: 2; 
  }
  
  .div-nav-login:hover .login-popup {
    display: block;
  }
 

.mobile-menu-icon {
    display: none;
    
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1300px) {
    .nav-bar {
        padding-left: 50px;
    }
   
    .nav-item {
        display: none;
    }
    .login-Icons {
        display: none;
    }
   
    .group{
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
   
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
        
    }
    .mobile-menu .login-Icons {
        display: block;
        padding: 1rem 0; 
        width: 100%; 
        text-align: center;
        align-items: center;
        justify-content: center; 
        margin: 0 auto; 
    }
    .div-nav-log{
      
        height: 50px;
       align-items: center;
      
    }
    .div-nav-login{
        padding: 5px;
        border: none;
    }
    .div-nav-login:hover{
        border: none;
    }
    .div-nav-car{
        padding: 5px;
    }
    .div-nav-car:hover{
        border: none;
    }
    .open {
        display: block;
    }
    #buttonlogin {
    position: relative;
}
.mobile-menu #containerlogin{
    background-color: #ffffff;
    margin-top: 0;
    position: absolute;
    top: 60%;
    justify-content: center;
}
#containerlogin{
    margin-top: 10%;
}
#icon-loginDiv {
    font-size: 20px;
    margin-bottom: 0px; 
   
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: #ab29e77a;
    border-radius: 10px;
    color: #fff;
    transition: 0.2s;
}
#icon-loginDiv:hover {
   transition: 0.2s;
    background-color: #4b1564;
    
}
#icon-cadastroDiv {
    margin-top: 0; 
    font-size: 15px;
    
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: #ab29e77a;
    border-radius: 10px;
    color: #fff;
    
}
#icon-cadastroDiv:hover {
    transition: 0.2s;
     background-color: #4b1564;
     
 }
#containerlogin {
    background-color: #ffffff;
    height: 120px;
    width: 130px;
    position: absolute;
    display: flex;
    right: 50%; 
    top: 100%;
    transform: translateX(50%); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px  #575656;
    justify-content: center;
     flex-direction: column; 
     text-align: left;
     
     
     
  
    
}
    
}


