
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Ubuntu:wght@300;400;500&display=swap');

*{
    font-family: 'Jost', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
* {
    padding: 0;
    margin: 0;
   
}

header {
    background-color: #ffffff;
    box-shadow: 0px 3px 10px #e7e7e7;
    width: 100%;
}

#buttonlogin {
    position: relative;
}
#icon-loginDiv {
    font-size: 20px;
    margin-bottom: 0px; 
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: #ab29e77a;
    border-radius: 10px;
    color: #fff;
    transition: 0.2s;
}
#icon-loginDiv:hover {
   transition: 0.2s;
    background-color: #4b1564;
    
}
#icon-cadastroDiv {
    margin-top: 0; 
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: #ab29e77a;
    border-radius: 10px;
    color: #fff;
    
}
#icon-cadastroDiv:hover {
    transition: 0.2s;
     background-color: #4b1564;
     
 }
#containerlogin {
    background-color: #ffffff;
    height: 120px;
    width: 130px;
    position: absolute;
    display: flex;
    right: 50%; 
    top: 100%;
    transform: translateX(50%); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px  #575656;
    justify-content: center;
     flex-direction: column; 
     text-align: left;
     transition: 0.5s;
     
     
  
    
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#menu-mobile-icon{
    color: #000000;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logoNav{
    height: 70px;
}

.nav-list {
    display: flex;
    align-items: center;
}



.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    color: #252020;
    font-weight: bold;
    transition: 0.2s;    
}
.nav-link:hover {
  
    color: #580081;
  
    transition: 0.2s;
}
.nav-list1 {
    display: flex;
    align-items: center;
}


button:hover  i.bi-person{
    color: #696969; 
    transition: color 0.2s;
}

#icon-conta:hover{
    color: #696969; 
    transition: color 0.2s;
  
}


#icon-bag:hover i.bi-bag {
    color: #696969; 
    transition: color 0.2s;
}

.login-Icons button{
    border: none;
    background-color: #fff;
    font-size: 15px;
    margin-top: 10px;
    justify-content: space-between;
    color: #a0a0a0;
    text-decoration: none;
    transition: color 0.2s;
}


.login-Icons a {
    text-decoration: none;
    color: #a0a0a0;
    margin-top: 10px;

    
    
}

#icon-login{
    font-size: 20px;
    margin-right: 10px;
   
    
}
#icon-conta{
    font-size: 15px;
    margin-right: 30px;
    color: #696969; 
}
#icon-bag{
    font-size: 20px;
   
}

.login-Icons{
 display: flex;
 align-items: center;
 margin-right: 52px;
 justify-content: space-between;
  
  
}


.mobile-menu-icon {
    display: none;
    
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1300px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-Icons {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
        
    }
    .mobile-menu .login-Icons {
        display: block;
        padding: 1rem 0; 
        width: 100%; 
        text-align: center;
        align-items: center;
        justify-content: center; 
        margin: 0 auto; 
    }
    .open {
        display: block;
    }
    #buttonlogin {
    position: relative;
}
.mobile-menu #containerlogin{
    background-color: #ffffff;
    margin-top: 0;
    position: absolute;
    top: 60%;
    justify-content: center;
}
#containerlogin{
    margin-top: 10%;
}
#icon-loginDiv {
    font-size: 20px;
    margin-bottom: 0px; 
   
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: #ab29e77a;
    border-radius: 10px;
    color: #fff;
    transition: 0.2s;
}
#icon-loginDiv:hover {
   transition: 0.2s;
    background-color: #4b1564;
    
}
#icon-cadastroDiv {
    margin-top: 0; 
    font-size: 15px;
    
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: #ab29e77a;
    border-radius: 10px;
    color: #fff;
    
}
#icon-cadastroDiv:hover {
    transition: 0.2s;
     background-color: #4b1564;
     
 }
#containerlogin {
    background-color: #ffffff;
    height: 120px;
    width: 130px;
    position: absolute;
    display: flex;
    right: 50%; 
    top: 100%;
    transform: translateX(50%); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px  #575656;
    justify-content: center;
     flex-direction: column; 
     text-align: left;
     
     
     
  
    
}
    
}


